@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: white;
    padding:8px 0 8px 8px;
    font-size: ;
}
.wrapper{
    background-color: #F3E5D8;
    padding:120px 250px 20px  350px;

}
.recipe-container{
    width:720px;
    background-color: white;
    padding:30px;
    border-radius: 30px;
   
}
.recipe-image{
    width:100%;
    height: auto;
    border-radius: 25px;
    padding: 10px;
}